<% form_for(@user, :url => {:controller => 'cleaning_items', :action => 'show_by_person', :id => @user.id}) do |f| %>
<%= f.error_messages %>
<p>
    <%= f.select(:id, User.all.collect {|u| [ u.username, u.id ] }, { :include_blank => true }) %>
    <%= f.submit 'Anzeigen' %>
</p>
<% end %>
<div style="float:left; clear:both; padding-top:20px;">
    <h1><%= @user.username %></h1>
    <table>
        <tr>
            <th>
                Was?
            </th>
            <th>
                Wann?
            </th>
        </tr>
        <% @finished_clean_items.each do |finished_clean| %>
        <tr>
            <td>
                <% begin %>
                <% cleaning_item = CleaningItem.find(finished_clean.cleaning_item_id) %>
                <%= cleaning_item.title %>
                <% rescue %>
                gelöscht<% end %>
            </td>
            <td>
                <%=h finished_clean.when_finished.strftime("%d. %m. %Y um %H:%M Uhr") %>
            </td>
        </tr>
        <% end %>
    </table>
</div>
