<div id="mail_right"></div>
<div id="inbox">
    <p style="overflow:hidden;">
        <%= "<strong>Betreff: </strong>" + @message.subject %>
    </p>
    <p>
        <strong>An: </strong>
        <% Recipient.find_all_by_message_id(@message.id).each do |recipient| %>
        <% users = User.find_all_by_id(recipient.user_id) %>
        <% if !users.empty? %>
        <%= User.find(recipient.user_id).username+"; " %>
        <br/>
        <% else %>
        <p>
            gelöscht
        </p>
        <% end %>
        <% end %>
    </p>
    <p>
        <%= "<strong>Am: </strong>" + @message.created_at.strftime("%d.%m.%Y um %H:%M Uhr") %>
    </p>
    <br/>
    <p>
        <%= simple_format(@message.body) %>
    </p>
</div>
<div id="mail_right"></div>
<div id="mailbox_list">
    <%= render :partial => "layouts/mailbox_container" %>
    <div id="mailbox_trash">
        <%= render :partial => "layouts/trash_container" %>
    </div>
</div>
