<% form_for(@post) do |f| %>
<%= f.error_messages %>
<p>
    <%= f.label :title %>
    <%= f.text_field :title %>
</p>
<p>
    <%= fckeditor_textarea("post", "body", :height => '650') %>
</p>
<p>
    <%= f.submit 'Speichern' %>
</p>
<% end %>
</p>
