<div style="padding-bottom:20px;">
    <%= link_to "neuen Eintrag erstellen", new_post_path %>
</div>
<% @posts.reverse.each do |post| %>
<div id="post<%= post.id %>" class="pages">
    <h1><%=h post.title %>
    </h1>
    <p style="font-size:smaller;">
        <%= post.updated_at.strftime("%d.%m.%Y, %H:%M") %>
    </p>
    <br/>
    <p>
        <%= simple_format post.body %>
    </p>
</div>
<br/>
<div class="clear">
    <%= link_to 'Edit', :controller => "posts", :action => "edit", :id => post.id %>
    <% if current_user && (current_user.has_role? :admin) %>
    | <%= link_to "Löschen", post,:confirm => "Sind Sie sicher?", :method => :delete %>
    <% end %>
</div>
<% end %>
