<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html>
    <head>
        <title><%= h(yield(:title) || "Untitled") %></title>
        <%= stylesheet_link_tag 'style' %>
        <%= javascript_include_tag :defaults %>
        <%= javascript_include_tag :fckeditor %>
        <%= yield(:head) %>
        <!--[if IE 6]>
            <style type="text/css" media="screen">
            @import url("/stylesheets/ie6.css");
            </style>
        <![endif]-->
        <!--[if IE 7]>
            <style type="text/css" media="screen">
            @import url("/stylesheets/ie7.css");
            </style>
        <![endif]-->
    </head>
    <body>
        <div id="page">
            <div id="header">
                <div id="user_nav">
                </div>
            </div>
            <div id="nav">
                <ul id="nav">
                </ul>
            </div>
            <div id="main">
                <div id="content-wrapper">
                    <div id="content">
                        <%= yield %>
                    </div>
                </div>
                <div id="sidebar-wrapper">
                    <div id="sidebar">
                    </div>
                </div>
            </div>
            <div style="clear:both">
            </div>
        </div>
    </body>
    <div id="footer-wrapper">
        <div id="footer">
        </div>
    </div>
</html>
